{% extends 'admin/base.html.twig' %}

{% block title %}Administration des commentaires{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5 text-center">Administration des commentaires</h1>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Date</th>
                    <th>Commentaire</th>
                    <th>Note</th>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                {% for comment in paginator.data %}
                    <tr>
                        <td>{{comment.id}}</td>
                        <td>{{comment.createdAt|date('l d/m/Y G:i')}}</td>
                        <td>{{comment.content}}</td>
                        <td>{{comment.rating}}</td>
                        <td>{{comment.event.title}}</td>
                        <td>{{comment.author.fullname}}</td>
                        <td>
                            <a href="{{ path('admin_comment_edit', {'id': comment.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            <a href="{{ path('admin_comment_delete', {'id': comment.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
        
        {{ paginator.display() }}
        {#% include 'admin/partials/paginator.html.twig' with {'route':'admin_comment_index'}%#}
    </div>
{% endblock %}
