{% extends 'admin/base.html.twig' %}

{% block title "Modification du festival" %}

{% form_theme form _self %}

{% block body %}

    <div class="container-fluid">
        <h1 class="my-5 text-center"><u>Modification du festival :</u><br>"{{festival.title}}"</h1>

        {{ form_start(form) }}

            <div class="row">
                <div class="col">
                    <div class="card bg-light">
                        <div class="card-header">
                            <h4 class="card-title">Corriger l'annonce</h4>
                        </div>
                        <div class="card-body">
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-check"></i>
                                Enregister les modifications
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col">
                   
                </div>
            </div>

        {{ form_end(form) }}
    </div>

{% endblock %}


{% block _event_images_widget %}
        {{ form_widget(form) }}
{% endblock %}

{% block _event_images_entry_row %}
    {#{ dump() }#}
    <div id="block_{{id}}">
        {#{ form_label(form) }#}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block _event_images_entry_widget %}
    <div class="row align-items-center mb-3">
        <div class="col-3">
            {#{ dump(value) }#}
            {% if value %}
                <div hidden>{{ form_row(form.url) }}</div>
                <img src="{{value.url}}" class="img-fluid" alt="">
            {% endif %}
        </div>
        <div class="col-6">
            {{ form_row(form.caption) }}
        </div>
        <div class="col">
            <button type="button" class="btn btn-danger" data-action="delete" data-target="#block_{{id}}">
                <i class="fas fa-trash"></i>
            </button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

<script>
    $(document).ready(function() {
        $('[data-action="delete"]').on('click', function() {
            //const target = $(this).data('target'); // Jquery
            const target = this.dataset.target; // JS classique

            //console.log(target);
            $(target).remove();
        })
    });
</script>

{% endblock %}