{% extends 'base.html.twig' %}

{% block title %}Page de {{user.fullName}} {% endblock %}

{% block body %}

<div class="container">
    <div class="row align-items-center">
        <div class="col-3 text-center">
            <img src="{{user.avatar}}" class="avatar mb-3" alt="Avatar de {{user.fullName}}">
            <br>
            <span class="badge badge-primary">{{user.events | length}} annonce{% if user.events | length > 1 %}s{% endif %}</span>
        </div>
        <div class="col-9">
            <h1>{{user.fullName}}</h1>
            {% if user is same as(app.user) %}
                <div class="mt-3">
                    <a href="{{ path('account_profile') }}" class="btn btn-primary mr-2 mb-2">
                        Modifier mes informations
                    </a>
                    <a href="{{ path('account_password') }}" class="btn btn-primary mb-2">
                        Modifier mon mot de passe
                    </a>
                </div>
            {% endif %}
           
        </div>
    </div>

    {{user.presentation | raw}}

    <hr>


    {% if user.events | length > 0 %}
        <div class="title">
            Les évènements annoncés par {{user.fullName}}
            <div class="buttons">
                <button class="list-view on"><i class="fa fa-bars"></i></button>
                <button class="grid-view"><i class="fa fa-th"></i></button>
            </div>
        </div>
        <div class="wrapper list">
            {% for event in user.events %}
                {% include 'event/_event.html.twig '%}
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning">
            <p>
                <strong>{{user.fullName}}</strong> n'a pas encore annoncer d'évènement sur le site !
            </p>
        </div>
    {% endif %}



{% endblock %}
